@import url("https://db.onlinewebfonts.com/c/46433a0865f85c4831e0b40abfb67847?family=Futura+Condensed+Light");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Futura Condensed Light";
  letter-spacing: 2px;
  line-height: 1.5;
  --black: #202020;
  --broken-white: #e8e8e7;
  --white: #f3f3f2;
  --gray: #d7d9d8;
  --dark-gray: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

header,
footer {
  background-color: var(--broken-white);
}

a {
  cursor: pointer;
  color: var(--black);
}

img {
  border-radius: 5px;
  cursor: pointer;
}
