@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  --black: #202020;
  --broken-white: #e8e8e7;
  --white: #f3f3f2;
  --gray: #d7d9d8;
  --dark-gray: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

header,
footer {
  background-color: var(--broken-white);
}

a {
  cursor: pointer;
  color: var(--black);
}

img {
  border-radius: 5px;
}
